/* elements */

body {
    background-image: url(../images/josh-calabrese-Ev1XqeVL2wI-unsplash.jpg);
    background-size: cover;
}

h1,
h2,
p {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}






/* classes */

.transparent-nav {
    background: none;
}









/* ids */

#main-content {
    margin-top: 50px;
}










/* media-queries */